body{
	text-align: center;
	background-position: center;
	font-family: sans-serif;
	background-color: purple;
	text-decoration-color: white;
}
.title{
	color: orange;
	font-size: 25px;
}
h1{
color: white;
	font-size: 45px;	
}
.form{
	width: 600px;
	background: transparent;
	border:none;
	text-align: center;
	outline: none;
	border-bottom: 1px solid white;
	color: #fff;
	font-size: 15px;
}
#btn{
	color: #fff;
	background: #ff5722;
	border-color: transparent;
	font-size: 20px;
	font-weight: bold;
	height: 37px;
	width: 68px;
}